#logo {
    height: 60px;
    padding-top: 100px;   
}

.banner {
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size:auto;
    height: 180px;
    background-position: center top;
    background-color: rgb(53, 136, 245);
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.homepage {
    color: rgb(58, 164, 250);
}
.cap-home {
   color: grey;
}

.cap-home2 {
    color: grey;
    font-size: 10px; 
 }
 
 .photo-main {
   margin-top: 20px;
 }

.cp {
    font-size: 12px;
 }

 .highlighted {
    background-color: rgb(233, 233, 85);
 }

 .list{
    padding:15px;
 }

table{
    height: 100px;
    width: 800px;
    text-align: left;
    border-collapse: collapse;

}

td{
    max-width: 300px;
}

tr{
    padding: 0;
}

.skyblue {
    background-color: skyblue;
}
.blue {
    background-color: blue;
    color: white;
}

.page-center {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
} 